<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <title>Account Suspended</title>
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
      body { font-family: 'Merriweather Sans', sans-serif; background-color:
      #f0f0f0; margin: 0; padding: 0; display: flex; justify-content: center;
      align-items: center; height: 100vh; } .content { max-width: 600px; width:
      100%; padding: 20px; background-color: #fff; border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px; } .content h1 {
      color: #3f51b5; font-weight: 600; font-size: 24px; } .content p { color:
      #555; font-size: 16px; font-weight: bold; } .content ul { text-align:
      left; padding: 0; margin: 10px 20px 20px 20px; color: #555; font-size:
      16px; font-weight: bold; } .content li { text-align: left; font-size:
      16px; color: #555; font-weight: bold; } .content img { max-width: 100%;
      border-radius: 5px; margin-bottom: 20px; } .imgDiv { display: flex;
      justify-content: center; align-items: center; } .name1 { font-weight:
      bolder; } .active{ font-weight: bolder; color: green; }
    </style>
  </head>

  <body>
    <div class='content'>
      <div class='imgDiv'>
        <img
          src='https://media.licdn.com/dms/image/C4E1BAQGvsa3qxyRLlQ/company-background_10000/0/1597657902483/unblocked_events_cover?e=2147483647&v=beta&t=yU3nCjUCDeM1WoI3mX9PDphGeTUY7Ot0I3lkd8sxHr0'
          alt='Account Activated'
        />
      </div>
      <p>Dear&nbsp;&nbsp;&nbsp;
        <span class='name1'>{{name}}</span>
        ,<br />
      </p>
      <p>Congratulations.<br />
        Your account's status has been changed to
        <span class='active'>Active</span>
      </p>
      <br />
      <p>You are again free to login on our e-commerce</p>
      <p>Regards,</p>
    </div>
  </body>

</html>