<html>
  <head>
    <title>Product Expiry Notification</title>
    <style>
      body { font-family: Arial, sans-serif; font-size: 30px; } h1 { color:
      black; } p { color: #666; } .highlight { color: #000; font-weight: bold;
      padding: 4px 6px; font: 90px; }
    </style>
  </head>
  <body>
    <h1>Product Expiry Notification</h1>
    <p>Dear {{seller.name}},</p>
    <p>Your product,
      <span class='highlight'>{{productName}}</span>, is now expired.☹️</p>
    <p>Please take necessary actions to update or remove this product.</p>
    <p>Thank you for your attention.</p>
    <p>Best regards,</p>
    <p>ALPHA ATLP COHORT 29</p>
  </body>
</html>