<html>

  <head>
    <title>Update password</title>
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
      body { font-family: 'Merriweather Sans', sans-serif; background-color:
      #f0f0f0; margin: 0; padding: 0; display: flex; justify-content: center;
      align-items: center; height: 100vh; } .content { max-width: 600px; width:
      100%; text-align: center; padding: 20px; background-color: #fff;
      border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 20px;
      } .content h1 { color: #3f51b5; font-weight: 600; font-size: 24px; }
      .content p { color: #555; font-size: 16px; font-weight: bold; } .content
      small { color: #777; font-size: 14px; font-weight: bold; display: block;
      margin-top: 10px; } .content img { max-width: 100%; border-radius: 5px;
      margin-bottom: 20px; } .content a { display: inline-block; padding: 10px
      20px; margin: 20px 0; background-color: #3f51b5; color: #fff;
      text-decoration: none; border-radius: 25px; } .social-icons { position:
      absolute; top: 10px; right: 10px; } .social-icons a { display:
      inline-block; margin: 0 10px; } .footer { text-align: center; padding:
      20px 0; background-color: #3f51b5; } .footer img { max-width: 100%;
      height: auto; } .name1 { font-weight: bolder; }
    </style>
  </head>

  <body>
    <h2>Urgent! please update your password</h2>
    <div class='content'>
      <img
        src='https://www.trinustech.com/wp-content/uploads/2022/10/Depositphotos_164041730_L.jpg'
        alt='E-commerce Image'
      />
      <p>Hey&nbsp;&nbsp;
        <span class='name1'></span>
        ,<br />
        Your password is due for an update to ensure the security and integrity
        of your account<br />

        Simply click the button below to update the password.
      </p>
      <a
        style='background-color: green; color: #ffffff; padding: 10px 20px; text-decoration: none; display: inline-block; border-radius: 3px;cursor:pointer'
        href=''
      >Update password</a>
      <small>Please note that failing to update your password within the
        specified time frame may result in restricted access to your account for
        security purposes
        <br />
        <br />
        If you have any questions or concerns, please reach out to our team</small>
    </div>

  </body>

</html>